@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

/* 
Light: 300
Regular: 400
Bold: 700
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.mb-5.cards-list-items.row {
  display: flex;
  justify-content: center;
}

.custom-shape-divider-top-1649003621 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1649003621 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 192px;
}

.custom-shape-divider-top-1649003621 .shape-fill {
  fill: #1e2050;
}

.custom-shape-divider-top-1649003621.inverted {
  transform: rotate(360deg);
  bottom: 0;
  top: auto;
}

.swiper-button-next,
.swiper-button-prev {
  color: #3cd0ff !important;
}

@media (max-width: 400px) {
  .custom-shape-divider-top-1649003621 svg {
    width: calc(350% + 1.3px);
  }
  .iONalh svg.smoke--background path {
    transform: scale(1.3);
  }
}
